.movieCard {
  position: relative;
  margin-bottom: 20px;
  transition: all 200ms;
}
.movieCard img {
  border-radius: 6px;
}
.movieCard:hover {
  transform: scale(1.05);
}
.total-result {
  font-size: 16px;
  font-weight: bold;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;

  border-radius: 0px 0px 6px 6px;
}
.movie-info .release {
  color: #999;
}

.movie-info p {
  margin: 0;
  padding: 4px 4px;
  font-size: 16px;
}

.movie-info p span {
  font-weight: bold;
}
.movie-info .title {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-weight: bold;
}

.navbar {
  background-color: #040d12;
}

.logo-text {
  color: white;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  max-width: 600px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cast,
.crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cast h3,
.crew h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cast-cards,
.crew-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cast-card,
.crew-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 200px;
  text-align: center;
}

.cast-card img,
.crew-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.cast-card p,
.crew-card p {
  margin-top: 10px;
  font-size: 14px;
}

.Info {
  text-align: center;
}

.actor-details {
  display: flex;
  align-items: center;
}

.actor-card {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.actor-image {
  max-width: 100%;
  height: auto;
}

.property-label {
  font-weight: bold;
}

.container .rounded {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/pQvqGK6KQDILL7SJrhMQsRvJfLB.jpg");
  background-position: center;
  height: 300px !important;
  width: 100%;
}

.banner-text {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}
.title {
  width: 100%;
  margin-bottom: 20px;
}

.custom-button {
  border: 0;
  background-color: rgb(6, 237, 156);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 0;
  z-index: 99;
  right: -1px;
  color: #fff;
}

.custom-search {
  border-radius: 20px;
}

.banner-component {
  margin-right: 90px;
}

.banner-component {
  margin-right: 20px;
}

.row {
  justify-content: space-between;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #fff;
}

.button-text {
  border: #040d12 solid 2px;
  border-radius: 40px;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #35a29f;
  font-weight: 900;
}

#btn {
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #153462;
  border-radius: 30px;
  transition: 0.5s;
}

.button-left {
  left: 0;
}

.button-right {
  left: 110px;
}
.button-text {
  display: flex;
}
.button-text button {
  align-text:center;
}

.custom-movie-search {
  max-width: 580px;
}
.custom-card {
  background-color: #3ab0ff;
}
.movie-search {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}
.total-result {
  text-align: center;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 0px;
}

.card-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.card-wrapper {
  display: inline-block;
}

.card {
  display: inline-block;
  width: 250px;
  margin-right: 10px;
}
.movie-card-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.long-card {
  display: flex;
}

.float-right {
  width: 1200px;
}

.custom-trending {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100% !important;
}

.search-text {
  
  border-radius: 40px;
  padding: 6px;
  margin-top: 60px;
}
.button-search {
 
  border-radius: 20px;
  /* position: absolute;
  left: 1284px;
 

  top: 205px; */
  background: #1de095;
  color: white;
}


.main-movie-details-card {
  display:flex;
  gap:50px;
  background-color: #606162;
  color:white;
  padding:40px;
  padding-left:60px;
  padding-right:60px;
}

.custom-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
.custom-footer {
  padding-left: 0px;
}
.custom-trending-cards {
  /* max-width:1480px; */
  /* padding-left:350px */
}
.button-text {
  text-align: center;
}

.toggle-btn {
  text-align: center;
  width: 100%;
}

.today-text {
  padding-right: 20px;
}
.custom-footer {
  position: absolute;
}
.image-text-related {
  font-size: 14px;
}

.actor-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actor-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  /* max-width: 400px; */
  margin: 10px;
  /* text-align: center; */
}

.actor-image {
  max-width: 100%;
  border-radius: 5px;
}

.property-label {
  font-weight: bold;
}

.credits {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.credit-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  max-width: 200px;
  text-align: center;
  padding: 10px;
}

.credit-image {
  max-width: 100%;
  border-radius: 5px;
}

h2 {
  margin: 0;
}

.custom-btn1 {
  padding-right:10px;
}

.custom-btn1 {
  padding-left:10px;
}


.custom-search-btn {
  padding: 12px; 
  border-radius: 20px;
  background-color: #39edb7;
  border: #4caf50 ;
}

.custom-form {
  display:flex;
  margin-top:80px;
}
.custom-input-form {
  border-radius: 20px !important;
}

.user-score {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.recommendation-cards {    display: flex;
  /* justify-content: space-evenly; */
  gap: 30px;
}

.image-cards-container img {
  max-width: 200px;
}
.image-cards-container {
  display: 'flex'; 
  gap: '40px';
   justify-content: 'center';
}

.cast-cardss {
  display: flex;
  gap:30px;
}
.recommendation-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.recommendation-card p {
  width: 160px; 
  
}

p span {
  word-break: break-all;
}

.custom-review-card {
  width:1200px !important;
  /* margin-left:650px; */
}

.tmdb-id {
  background-color: rgb(68, 66, 66);
  color: rgb(175, 175, 12);
  padding: 8px;
  border-radius: 12px;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.geeks {
  /* width: 300px; */
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.geeks img {
  width: 200%;
  transition: 0.5s all ease-in-out;
}

.geeks:hover img {
  transform: scale(1.5) !important;
}
.custom-navbar .container span link{
  text-decoration: none;
}

.custom-review-card {
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

