.movieCard {
  position: relative;
  margin-bottom: 20px;
  transition: all 200ms;
}
.movieCard img {
  border-radius: 6px;
}
.movieCard:hover {
  transform: scale(1.05);
}
.total-result {
  font-size: 16px;
  font-weight: bold;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;

  border-radius: 0px 0px 6px 6px;
}
.movie-info .release {
  color: #999;
}

.movie-info p {
  margin: 0;
  padding: 4px 4px;
  font-size: 16px;
}

.movie-info p span {
  font-weight: bold;
}
.movie-info .title {
  -webkit-line-clamp: 2; 
  line-clamp: 2;
  font-weight: bold;
}

.navbar {
  background-color: #040D12;
  
}

.logo-text {
  color: white; 
  font-weight: 600;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%; 
  max-width: 600px; 
}

.card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cast, .crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cast h3, .crew h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cast-cards, .crew-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cast-card, .crew-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 200px; 
  text-align: center;
}

.cast-card img, .crew-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.cast-card p, .crew-card p {
  margin-top: 10px;
  font-size: 14px;
}
.Info{
  text-align:center
}



.actor-details {
  display: flex;
  align-items: center; 
}

.actor-card {
  flex: 1; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.actor-image {
  max-width: 100%; 
  height: auto; 
}

.property-label {
  font-weight: bold;
}


.container .rounded {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/pQvqGK6KQDILL7SJrhMQsRvJfLB.jpg");
  background-position: center;
  height: 300px !important;
  width: 100%;
}

.banner-text {
  color:#fff;
  font-family: "Source Sans Pro",Arial,sans-serif;  
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}
.title {
    width: 100%;
    margin-bottom: 20px;
}

.custom-button {
  border: 0;
  background-color: #c2ca5a;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 0;
  z-index: 99;
  right: -1px;
  color: #fff;
}

.custom-search {
  border-radius:20px;
}

.banner-component {
  margin-right:90px;
}

.banner-component {
  margin-right: 20px; 

}

.row {
  justify-content: space-between;
}
/* CSS */
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #fff;
}

.button-text {
  border:#040D12 solid 2px;
  border-radius: 40px;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color:#35A29F;
  font-weight:900;
}

#btn {
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #153462;
  border-radius: 30px;
  transition: .5s;
  color:;
}

/* Define a new CSS class to move the button left or right */
.button-left {
  left: 0;
}

.button-right {
  left: 110px;
}
.button-text {
  display: flex;

}
